html, body {
    height: 100%;
}

#mapContainer {
    margin-top: -10px;
    height: 100%;
    min-height: 100%;
}

.fill {
    height: calc(100% - 75px);
    min-height: calc(100% - 75px);
}


#map {
    height:100%;
    width:100%;
}

@media print {
    #mapContainer {
        margin-top: 50px;
    }
}

.js-loading-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 50;
    background: #fff;
    opacity: 0.5;
    border-radius: inherit;
}

.delModule {
    position: absolute !important;
    left: 10px;
}

.adding-line {
    cursor: pointer !important;
}

.editable_single {
    width: 200px;
    display: inline-block;
    height: 16px;
    border-bottom: 1px solid black;
}

.connection_table {
    border-collapse: collapse;
    border: 1px solid grey;
}

.connection_table td, .connection_table th {
    border: 1px solid grey;
    padding: 5px;
}

.elem-color {
    height: 5px;
    width: 5px;
    border: 1px solid grey;
    display: block;
    margin-left: 5px;
}

div.login tr {
    height: 30px;
}

a.module-copy-link {
    display: inline-block;
    float: right;
}

.hidden {
    display: none;
}

.centeredCell td {
    text-align: center;
}



#add_connection:link, #add_connection:visited {
    color: blue;
}

#cnvsConnection {
    width: 620px;
    height: 400px;
    border: 1px solid black;
    position: relative;
    background-color: #e1ffcc;
    overflow-y: scroll;
}

#connection_window {
    min-width: 500px;
    margin-top: 28px;
    margin-left: 20px;
}

#connectionHeader {
    font-weight: bold;
    text-align: center;
}

#btnAddSplitter {
    float: right;
    margin-top: 10px;
}

#divSelectSplitter table tr td {
    padding-right: 5px;
    padding-top: 5px;
}

#divSelectSplitter table tr td:first-child {
    text-align: right;
}

#divSplitterForm > table tr td {
    padding-right: 5px;
    padding-top: 5px;
    vertical-align: top;
}

#divSplitterForm > table tr td:first-child {
    text-align: right;
}

#tblNonUniformAttenuation
{
    margin-top: 5px;
}

#tblNonUniformAttenuation th, #tblNonUniformAttenuation td
{
    vertical-align: top !important;
    text-align: left !important;
    padding-right: 10px;
}

.no-background {
	background-image: none !important;
}

.popup_segment_select
{
    background-color:transparent;
    padding:1px;
    position:absolute;
    z-index:100;
    min-width:150px;
}

.popup_segment_select div {
    background-color:white;
    padding:5px;
    border-radius:5px;
    border:1px solid grey;
}

.solver {
    font-family: Verdana, Arial, sans-serif;
    text-align: left;
    display:none;
}

.solver button {
    margin-top:5px;
    margin-bottom:5px;
}

.menu_container {
    width:60%;
}

.img-switch
{
    cursor: pointer;
}

.solver table td {
    height:25px;
    vertical-align: middle;
}

.route-path {
    display:inline-block;
    width:380px;
    max-height: 400px;
    overflow:hidden;
    overflow-y:auto;
    padding-left: 30px;
}

.route-plot {
    vertical-align: top;
    display:inline-block;
    width:500px;
    height:400px;
}
.yaxisLabel {
    margin-left: -80px;
}

.flot-y-axis .flot-tick-label {
	left: 30px !important;
}

.main-route.additional {
	display:none;
}

.row.top5 {
    margin-top:5px;
}