ul.dropdown-menu {
    list-style-type:none;
    max-height:150px;
    padding: 5px;
    width:200px;
    display:none;
    position:absolute;
    overflow:auto;
    text-align:left;
    border:1px solid grey;
    z-index:100;
    background-color:white;
}

ul.dropdown-menu  li{
    height:18px;
    line-height:14px;
    border: 1px solid white;
    padding:2px;
}

.selected{
    border: 1px dashed grey !important;
    cursor:pointer;
}

.btn.dropdown-toggle{
	width: 135px;
	height: 60px;
	padding-top: 40px;
	border-radius: 0px;
	font-weight: bold;
	font-size: 20px;	
}

.btn .caret{
	margin-top:8px;
}

.valueOfButton{
	display: block;	
	font-size: 14px;
}

.select-dropdown {
	position:relative;
    margin-top:6px;
	display:inline-block;
}

.dropdown-menu {
	vertical-align: middle;
}

.select-dropdown a,.select-dropdown a:visited {
	text-decoration:none;
	color:black;
}

.select-dropdown .colPick {
    width: 50px;
    display: inline-block;
}

.dropdown-toggle:hover, .dropdown-toggle:link {
    text-decoration: none;
}

.colPick.large {
    height: 12px;
    line-height: 10px;
    float: left;
}

.colPick {
    height: 5px;
    border: 1px solid gray;
}