{% extends 'base.html' %}
{% load staticfiles %}
{% block scripts %}
    <script src="{% static 'js/plugins/json.js' %}" type='text/javascript'></script>
    <script src="{% static 'js/util_script.js' %}" type="text/javascript"></script>
    <script src="{% static 'bootstrap-editable/js/bootstrap-editable.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/plugins/raphael-min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/connection.js' %}" type='text/javascript'></script>
    <script type='text/javascript'>
        var pointId = '{{ point.id }}';
        var cid = '{{ conPoint.id }}';
        var isNew = '{{ isNew }}';
        var canSaveConnection = '{{ canSaveConnection }}';
        var isCommonSchema = '{{ isCommonSchema }}';

        var seg1 = null, seg2 = null, conId = "";

        var splitters = {{ splitters_json }};

        $(document).ready(function () {
            ddlSplitterType_Change();

            $(".editable_single").editable();

            initConnections(pointId, cid, true);
            if (isNew || isCommonSchema)
                $("#delete_cid").hide();
            else
                $("#delete_cid").show();


            $("#delete_cid").click(deleteConnectPoint);
            $("#save_cid").click(saveConnectPoint);

            $("#delete_connection").click(deleteConnection);

            $("#add_splitter").click(function () {
                SplitterAdded();
                $("#divSelectSplitter").modal("hide");
            });

            $("#show_connection").click(function () {
                var container = $("#divShowNewConnection");
                ShowNewConnection($("#ddlShowCabelOnSide").val(), container.data("isSplitter"), container.data("currentFiberSide"));
                container.modal("hide");
            });

            ResizeConnectionContainerDialog();
        });


        function ddlSplitterType_Change() {
            $("#ddlSplitterType option:selected").each(function () {
                var current = findSplitterByValue($(this).val());
                if (current != null) {
                    $("#spnInputs").text(current.inputs);
                    $("#spnOutputs").text(current.outputs);
                    $("#spnAttenuation").text(current.attenuation);
                }
            })
        }

        function findSplitterByValue(value) {
            for (var i = 0; i < splitters.length; i++) {
                if (splitters[i].id == value)
                    return splitters[i];
            }
            return null;
        }
    </script>
{% endblock %}
{% block head %}
    <link href="{% static 'bootstrap-editable/css/bootstrap-editable.css' %}" type="text/css" rel="stylesheet"/>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block content %}
    <table id="mn-table">
        <tr>
            <td style="width: 500px;">
                <table width="100%" height="100%" id="editor_table">
                    <tr id="connection_info" style="display: none; min-height: 40px; height: 40px;">
                        <td colspan="2">
                            <table width="100%" height="100%">
                                <tr>
                                    <td><b>Название</b></td>
                                    <td><a href="#" class="editable_single" id="connect_name">{{ conPoint.name }}</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><b>Тип</b></td>
                                    <td><a href="#" class="editable_single" id="connect_type">{{ conPoint.type }}</a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td align="center">
                            <div id="editor_window">
                                <div
                                        style="width: 500px; height: 400px; border: 1px solid black; position: relative; background-color: #e1ffcc"
                                        id="canvas"></div>
                                <p id="editor_notice" style="display: none">
                                    <br/>
                                    <i>Выберите два кабеля для создания или редактирования соединения между ними</i>
                                </p>

                                <p id="merge_notice" style="display: none">
                                    <br/>
                                    <i>Выберите два сегмента для создания непрерывного участка кабеля, либо выберите
                                        существующее соединение для его удаления. </i>
                                </p>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
            <td id="connection_window"  style='vertical-align: top; padding-top: 20px; padding-left: 10px; display:none'>
                <span id="connectionHeader">Подробная схема соединения между выбранными сегментами</span>

                <div id="cnvsConnection"></div>
                <button data-toggle="modal" data-target="#divSelectSplitter" class="btn btn-default" style="margin-top:5px">
                    Добавить сплиттер
                </button>
            </td>
        </tr>

        <tr>
            <td colspan="2" style="text-align: right">
                {% if canSaveConnection %}
                    <button id="save_cid" class="btn btn-success" data-loading-text="Сохраняю...">Сохранить</button>
                {% endif %}
                {% if isNew or conPoint %}
                    <button id="delete_cid" class="btn btn-danger">Удалить</button>
                {% endif %}
            </td>
        </tr>

    </table>
    <div class="modal fade" id="divSelectSplitter">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Добавить сплиттер</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-4">
                            <span>Тип сплиттера:</span>
                        </div>
                        <div class="col-xs-8">
                            <select id="ddlSplitterType" onchange="ddlSplitterType_Change();" class="form-control">
                                {% for type in splitters %}
                                    <option value="{{ type.id }}">{{ type.title }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">

                            <span>Входы:</span>
                        </div>
                        <div class="col-xs-8">
                            <span id="spnInputs"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <span>Выходы:</span>
                        </div>
                        <div class="col-xs-8">
                            <span id="spnOutputs"></span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    <button type="button" class="btn btn-primary" id="add_splitter">Добавить</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="divShowNewConnection">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Соединение</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12">
                            Отобразить соединение, в котором участвует волокно данного кабеля?
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <span>Показывать кабель на схеме:</span>
                        </div>
                        <div class="col-xs-6">
                            <select id="ddlShowCabelOnSide">
                                <option value="left">слева</option>
                                <option value="right">справа</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Нет</button>
                    <button type="button" class="btn btn-primary" id="show_connection">Да</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
