{% extends 'base.html' %}
{% load staticfiles %}

{% block scripts %}
    <!--<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>-->
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&language=ru" type="text/javascript"></script>
    <script src="{% static 'js/plugins/json.js' %}" type='text/javascript'></script>
    <script src="{% static 'js/util_script.js' %}" type="text/javascript"></script>
    <!--<script src="{% static 'js/index/map.js' %}" type="text/javascript"></script>-->
    <script src="{% static 'js/index/canvas.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/index/selection.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/index/dialogs.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/index/solver.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/plugins/jquery.flot.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/plugins/jquery.flot.axislabels.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/plugins/bootstrap.multiModals.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/index/view.js' %}" type="text/javascript"></script>
    <script type="text/javascript">
        var max_icon_zoom = 18;
        var user_token = '{{ request.user.id }}';

        var default_location = {{ settings.location }};
        var user_zoom = {{ settings.zoom }};
        var default_layer = '{{ settings.layer }}';


        $(document).ready(function () {

            canvas.setCenter(default_location);
            canvas.setZoom(user_zoom);

            var body = $("body");

            initRouteDialog();
            bindCables();

            body.bind("cableSaved", cableSaved);

            body.bind("pointSaved", function (event, data) {
                <!--refreshMap($("#point_container"));-->
                drawPoint(data);
            });
            body.bind("pointDeleted", function (event, data) {
                <!--refreshMap($("#point_container"));-->
                removePoint(data);
            });
            body.bind("segmentSaved", function (event, data) {
                alert(data);
                //refreshMap($("#segment_container"));
            });
            body.bind("segmentAdded", function (event, data) {
                addNewSegment(data);
            });
            body.bind("segmentDeleted", function (event, data) {
                removeSegment(data);
            });
            body.bind("openPoint", function (e) {
                openPointDialog(e.id);
            });
            body.bind("connection", function (e) {
                openConnection(e.id, e.cid ? e.cid : null, e.create ? true : false, e.canSaveConnection ? true : false);
            });

            body.bind("connectionSaved", function (e) {
                if (e.close) {
                    $("#connection_container").modal("hide");
                }
                $('#point_container iframe').attr('src', function (i, val) {
                    return val;
                });
            });
            body.bind("connectPointRemoved", function (e) {
                $("#connection_container").modal("hide");
                $('#point_container iframe').attr('src', function (i, val) {
                    return val;
                });
            });
        });
    </script>
{% endblock %}
{% block head %}
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}
</head>
{% block content %}
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <label for="mapLayer">Слой:</label>
                        <select class="form-control" id="mapLayer">
                            <option value="fact">Факт</option>
                            <option value="plan">План</option>
                            <option value="all" selected>Все</option>
                        </select>
                    </div>
                </form>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#navbar-collapsed" aria-expanded="false">
                    <span class="sr-only">Меню</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar-collapsed" class="navbar-collapse collapse">
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default" id="addRoute">Добавить маршрут</button>
                            <button type="button" class="btn  btn-default" id="end-route"
                                    style="display:none">
                                Закончить построение
                            </button>
                        </div>
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default" id="btnSelect">Выделить объекты</button>
                            <button type="button" class="btn  btn-default" id="btnSelectCancel"
                                    style="display:none">
                                Отменить выделение
                            </button>
                        </div>
                        <button type="button" class="btn  btn-default" id="addPoint" data-target="#add_point_dialog"
                                data-toggle="modal">
                            Добавить точку опоры
                        </button>
                        <button type="button" class="btn  btn-default" id="editNetwork">
                            Редактировать схему
                        </button>
                        <div class="btn-group" role="group">
                            <button type="button" class="btn  btn-default" id="saveNetwork"
                                    style="display: none">
                                Сохранить изменения
                            </button>
                            <button type="button" class="btn  btn-default" id="cancelEdit"
                                    style="display: none">
                                Отмена
                            </button>
                        </div>
                        <div class="btn-group">
                            <select class="form-control" id="cable-filter">
                                <option value="">Все кабели</option>
                                {% for cable in cables %}
                                    <option value="{{ cable.id }}">{{ cable.title }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">{{ settings.user }}<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'logout' %}" role="button">Выйти</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
    <div class="container-fluid fill">
        <div id="mapContainer" style="position:relative">
            <div id="map"></div>
        </div>
        <div class="modal fade" id="route-edit-form" role="dialog" data-keyboard="false" data-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Новый маршрут</h4>
                    </div>
                    <div class="modal-body">
                        <b>Общая длина:</b>&nbsp;<span id="route-length"></span>
                        <br/>
                        <br/>
                        <b>Точек опоры:</b>&nbsp;<span id="route-points"></span>
                        <br/>
                        <br/>
                        <b>Используемый кабель:</b>&nbsp; <select id="route-cable"></select>
                        &nbsp;<a href="javascript:void(0)" onclick="newCableDialog();">Новый кабель</a>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" id="cancel_route">Отмена</button>
                        <button type="button" class="btn btn-primary" id="save_route">Сохранить</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="migrate-points-form" role="dialog" data-keyboard="false" data-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Переместить точки</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-xs-4">
                                <b>Расположение:</b>
                            </div>
                            <div class="col-xs-8">
                                <input type='checkbox' id='planCheck'/>
                                <label for="planCheck">План</label>
                                <input type='checkbox' id='factCheck'/>
                                <label for="factCheck">Факт</label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                        <button type="button" class="btn btn-primary" id="migrate-points">Сохранить</button>
                    </div>
                </div>

            </div>
        </div>
        <div class="modal fade" id="add_point_dialog" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Добавить опоры</h4>
                    </div>
                    <div class="modal-body">
                        <label class="radio-inline">
                            <input type='radio' name='point_add_mode' value='single' checked='checked'>
                            Одну
                        </label>
                        <label class="radio-inline">
                            <input type='radio' name='point_add_mode' value='multi'>Много
                        </label>
                        <select id='point_type_select' class="form-control" style="width:50%; display: none">
                            {% for type in support_types %}
                                <option value='{{ type.id }}'>{{ type.title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                        <button type="button" class="btn btn-primary" id="addPointOk">ОК</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="point_container">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Точка опоры</h4>
                    </div>
                    <div class="modal-body">
                        <iframe src="" frameborder="no" width="570" height="450"></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="cable" data-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <iframe src="" frameborder="no" scrolling="no" width="800" height="500"></iframe>
                </div>
            </div>
        </div>

        <div id="connection_container" class="modal" style="top:-25px;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Схема соединения</h4>
                    </div>
                    <div class="modal-body">
                        <iframe id="frmConnectionContainer" src="" frameborder="no" scrolling="no" width="500"
                                height="470"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="segment_container">
        <div class="modal-dialog" style="width:700px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Сегмент</h4>
                </div>
                <div class="modal-body">
                    <iframe src="" frameborder="no" scrolling="no" width="670" height="300"></iframe>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
    <div class="solver" id="solver-block">
        <b>Расчет маршрута</b><br/><br/>
        <table>
            <tr>
                <td>От:</td>
                <td><select id="route_from"></select></td>
                <td rowspan="2" valign="middle">
                    <img src="{% static 'images/switch.png' %}" class="img-switch">
                </td>
            </tr>
            <tr>
                <td>До:</td>
                <td><select id="route_to"></select></td>
            </tr>
        </table>

        <button id="solve">Расcчитать</button>
        <br/>
        <button id="clear-solve">Очистить</button>
        <div id="route-info" style="display: none">
        </div>
        <div id="route-details">
            <div class="route-path">

            </div>
            <div class="route-plot">

            </div>
        </div>
    </div>
{% endblock %}