{% extends 'base.html' %}

{% load staticfiles %}
{% load bootstrap3 %}

{% block title %}
    {{ block.super }} - Вход
{% endblock %}


{% block content %}
    <div class="row" style="margin-top:5%">
        <div class="col-md-offset-4 col-md-4 centered">
            <form method="post" action="{% url 'django.contrib.auth.views.login' %}" class="form-horizontal">
                {% csrf_token %}

                <div class="row text-center">
                    <div class="col-md-12 centered">
                        <img src="{% static 'images/logo.gif' %}" />
                    </div>
                </div>
                {% bootstrap_form_errors form %}
                {% bootstrap_field form.username layout='horizontal' horizontal_label_class='col-md-5' horizontal_field_class='col-md-7' %}

                {% bootstrap_field form.password layout='horizontal' horizontal_label_class='col-md-5' horizontal_field_class='col-md-7' %}
                <div class="form-group">
                    <div class="col-sm-offset-5 col-sm-7">
                        <button type="submit" class="btn btn-default">
                            Войти
                        </button>
                        &nbsp;
                    </div>
                </div>
                <input type="hidden" name="next" value="{{ next }}"/>
            </form>
        </div>
    </div>
{% endblock %}