{% extends 'base.html' %}
{% load staticfiles %}

{% block scripts %}
    <script src="{% static 'bootstrap-editable/js/bootstrap-editable.min.js' %}" type='text/javascript'></script>
    <script src="{% static 'js/plugins/json.js' %}" type='text/javascript'></script>
    <script src="{% static 'js/util_script.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/point.js' %}" type="text/javascript"></script>
    <script type="text/javascript">
        var pointId = '{{ id  }}';
        var pointLocation = {% if point %}{{ point.location }}{% else %}{{ location }}{% endif %};
        var layer = '{{  layer }}';
    </script>
{% endblock %}
{% block head %}
    <link href="{% static 'bootstrap-editable/css/bootstrap-editable.css' %}" type="text/css" rel="stylesheet"/>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-4">
                <b>Название:</b>
            </div>
            <div class="col-xs-4">
                <a href="#" id="point-title">{{ point.title|default:"" }}</a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <b>Местоположение:</b>
            </div>
            <div class="col-xs-8">
                 <span id="point-location">
                    {% if point %}{{ point.location }}{% else %}{{ location }}{% endif %}
                 </span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4" style="vertical-align: middle">
                <b style="line-height: 33px">Тип опоры:</b>
            </div>
            <div class="col-xs-8">
                <select id="point-support-type" class="form-control">
                    <option value="">-</option>
                    {% for type in support_types %}
                        <option value='{{ type.id }}' {% if point.type_id == type.id %}selected{% endif %}>
                            {{ type.title }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <b>Расположение:</b>
            </div>
            <div class="col-xs-8">
                <input type='checkbox' id='planCheck' {% if layer == 'plan' or layer == 'all' %}checked{% endif %}/>
                <label for="planCheck">План</label>
                <input type='checkbox' id='factCheck' {% if layer == 'fact' or layer == 'all' %}checked{% endif %}/>
                <label for="factCheck">Факт</label>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <b>Комментарий: </b>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <a href="#" id="point-comment" >{{ point.comment|default:"" }}</a>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <b>Точки соединения:</b>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                {% if point %}
                    <div id="connection_div" style="text-align: right">
                        <table id="connection_points" width="100%" class="table table-bordered" data-ordering="false"
                                data-paging="false" data-info="false">
                            <thead>
                            <tr>
                                <th width="40%">Название</th>
                                <th width="40%">Тип</th>
                                <th></th>
                            </tr>
                            </thead>
                            {% if point.connection_points.count %}
                                <tbody>
                                {% for cPoint in point.connection_points.all %}
                                    <tr data-id="{{ cPoint.id }}">
                                        <td>{{ cPoint.name }}</td>
                                        <td>{{ cPoint.type }}</td>
                                        <td><a href='javascript:void(0)' class='connect-edit-link'>Редактировать</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            {% endif %}
                        </table>
                        <a href="javascript:void(0)" id="add_connection"> Добавить</a>
                    </div>
                {% else %}
                    <span id="not_created"><i>Недоступно (подтвердите создание точки опоры)</i></span>
                {% endif %}
            </div>
        </div>
        {% if point %}
            <div class="row" id="connection-tr">
                <div class="col-xs-12 text-center">
                    <button type="button" id="connection_designer" class="btn btn-default" data-loading-text="Загрузка...">
                        Общая схема соединения
                    </button>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-xs-6">
                <button id="delete-point" class="btn btn-danger">
                    Удалить
                </button>
            </div>
            <div class="col-xs-6 text-right">
                <button id="save-point" class="btn btn-success">
                    Сохранить
                </button>
            </div>
        </div>
    </div>
{% endblock %}