{% extends 'base.html' %}
{% load staticfiles %}
{% block scripts %}
    <script src="{% static 'bootstrap-editable/js/bootstrap-editable.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/util_script.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/segment.js' %}" type='text/javascript'></script>
    <script type="text/javascript">
        var segmentId = '{{ segment.id }}';
        $(document).ready(function () {
            $("a.point-link").click(function () {
                var id = $(this).data("id");
                parent.$("body").trigger({type: "openPoint", id: id});
            });
            $("a.editable_single").editable();

            $("#save-segment").click(saveSegment);
            $("#delete-segment").click(deleteSegment);
        });
    </script>
{% endblock %}
{% block head %}
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'bootstrap-editable/css/bootstrap-editable.css' %}" type="text/css" rel="stylesheet"/>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row top5">
            <div class="col-xs-6">
                <b>Расчетная длина:</b>
            </div>
            <div class="col-xs-6">
                <span id="segment-length">{{ length|floatformat:3 }} км</span>
            </div>
        </div>
        <div class="row top5">
            <div class="col-xs-6"><b>
                Расчетное затухание:</b>
            </div>
            <div class="col-xs-6">
                <span id="segment-attenuation">{{ attenuation }}</span>
            </div>
        </div>
        <div class="row top5">
            <div class="col-xs-6"><b>Начальная точка:</b></div>
            <div class="col-xs-6">
                <a href="javascript:void(0)" class="point-link"
                   data-id="{{ segment.start_point_id }}">{{ segment.start_point }}</a>
            </div>
        </div>
        <div class="row top5">
            <div class="col-xs-6"><b>Конечная точка:</b>
            </div>
            <div class="col-xs-6">
                <a href="javascript:void(0)" class="point-link"
                   data-id="{{ segment.end_point_id }}">{{ segment.end_point }}
                </a>
            </div>
        </div>
        <div class="row top5">
            <div class="col-xs-6"><b>Используемый кабель:</b></div>
            <div class="col-xs-6">
                <select id="segment-cable" class="form-control">
                    {% for cable in cables %}
                        <option value="{{ cable.id }}" {% if cable.id == segment.cable_id %}selected{% endif %}>
                            {{ cable.title }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </div>
    <div class="row top5">
            <div class="col-xs-6"><b>Бригада (кто строил):</b></div>
            <div class="col-xs-6">
                <select id="segment-brigade" class="form-control">
                    <option value="">-</option>
                    {% for brigade in brigades %}
                        <option value="{{ brigade.id }}" {% if brigade.id == segment.brigade_id %}selected{% endif %}>
                            {{ brigade.title }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row top5">
            <div class="col-xs-6"><b>Фактическая длина:</b></div>
            <div class="col-xs-6">
                <a href="#" id="segment-factlength" data-mode="inline" class="editable_single">
                    {{ segment.length|default:"" }}
                </a>
            </div>
        </div>

        <div class="row top5">
            <div class="col-xs-6"><b>Фактическое затухание на участке:</b></div>
            <div class="col-xs-6">
                <a href="#" id="segment-factattenuation" class="editable_single"  data-mode="inline">
                    {{ segment.attenuation|default:"" }}
                </a>
            </div>
        </div>
        <div class="row top5">
            <div class="col-xs-6">
                <button id="delete-segment" class="btn btn-danger">
                    Удалить
                </button>
            </div>
            <div class="col-xs-6 text-right">
                <button id="save-segment" class="btn btn-success">
                    Сохранить
                </button>
            </div>
        </div>
    </div>
{% endblock %}
